.navbar {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 0.25rem 1.25rem;
}

.navbar__list {
  display: inline-flex;
}

.nav_logo {
  height: 1.5rem;
  display: inline-block;
  max-width: 100%;
  margin-left: 320px;
}

.navbar__link {
  color: var(--black, #1e1b1b);
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

.assitance {
  display: flex;

  align-items: center;
}

.phone-text .number {
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.699999988079071;
}

.road {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin: 1rem;
}

/* home */

.home-container {
  width: 100%;
  max-width: 80rem;
}
