h1 {
  color: var(--black, #1e1b1b);

  /* Heading (h1) */
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: -1.92px;
}

h2 {
  color: var(--black, #1e1b1b);

  /* Heading (h2)  */
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

h3 {
  color: var(--black, #1e1b1b);

  /* Heading(h3) */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
}

h4 {
  color: var(--black, #1e1b1b);

  /* Heading (H4) */
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.2px;
}
/* navbar */

.navbar {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}
.navbarBlack {
  display: flex;
  width: 100%;
  height: 157px;
  justify-content: space-between;
  align-items: center;
  background: var(--black, #1e1b1b);
  color: white;
}

.navbarBlack .navbar__list {
  display: flex;
  justify-content: center;
}
.navbarBlack p {
  color: var(--grey, #939191);

  /* Body 02 */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-right: 320px;
}

.navbarBlack .navbar__link {
  color: white;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}
.navbar__item {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 0.25rem 1.25rem;
}

.navbar__list {
  display: inline-flex;
}

.nav_logo {
  height: 1.5rem;
  display: inline-block;
  max-width: 100%;
  margin-left: 320px;
}

.navbar__link {
  color: var(--black, #1e1b1b);
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

.assitance {
  display: flex;

  align-items: center;
}

.phone-text .number {
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.699999988079071;
}

.road {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin: 1rem;
}

/* home */

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 320px;
  margin-top: 170px;
  width: 100%;
  margin-bottom: 180px;
}

h1 {
  width: 624px;
  font-size: 64px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: -1.92px;
  margin-right: 30px;
}

.image-container {
  position: relative;
}

.homeimg {
  width: 605px;
  height: 632px;
  flex-shrink: 0;
}

.rating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 350px;
  margin-left: 160px;
}

.orange-button {
  border-radius: 12px;
  background: var(--primary, #ff6433);
  width: 203px;
  height: 64px;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
}

.quote-section {
  width: 100%;
  height: 894px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.column1 {
  width: 50%;

  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.column2 {
  width: 50%;

  padding: 20px;
  box-sizing: border-box;
}

.quote-section h2 {
  color: var(--black, #1e1b1b);

  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.services {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services h3,
.services p {
  text-align: left;
  margin-left: 10px;
}

.services img {
  margin-right: 10px;
  position: relative;
}
.services img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: white;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields input {
  width: 624px;
  height: 72px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
}

.arrow {
  stroke-width: 2px;
  stroke: var(--black, #1e1b1b);
  margin-left: 15px;
  width: 52px;
}
.follow-section {
  width: 100%;
  height: 894px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.follow-section .column1 {
  text-align: left;
}

.follow-section h2 {
  color: var(--black, #1e1b1b);
  margin-top: 200px;
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
  text-align: left;
}

.follow-section p {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.instructions {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

.instructions h3 {
  color: var(--black, #1e1b1b);
  /* Title 01 */
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
}

.instructions p {
  color: var(--black, #1e1b1b);
  /* Body (01) */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  opacity: 0.6000000238418579;
}

.whatweoffer-section {
  width: 100%;
  height: 1152px;
  display: block;
  justify-content: center;

  background-color: #f2f2f2;
  padding-bottom: 200px;
}

.whatweoffer-section h2 {
  color: var(--black, #1e1b1b);
  text-align: center;
  /* Heading (h2) */
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}
.whatweoffer-section {
  width: 100%;
  height: 894px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 316px);
  grid-template-rows: repeat(2, 232px);
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 232px;
  background: #fff;
}

.card img {
  width: 46px;
  height: 46px;
}

.card p {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.knowmore {
  text-align: right;
}

.getintouch-section {
  display: flex;
  position: relative;
}

.getintouch-img {
  width: 50%;
}

.box-card {
  position: absolute;
  width: 929px;
  height: 600px;
  background: #ff6433;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  margin-left: 530px;
}
.box-card h3 {
  color: #fff;
  /* Heading(h3) */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
  display: flex;
  width: 569px;
  height: 134px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.box-card .orange-button {
  border-radius: 12px;
  background: var(--black, #1e1b1b);
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
}

.counter-section {
  display: flex;
  flex-direction: row;
  height: 210px;
  margin: 50px;
  gap: 500px;
  justify-content: center;
}

.counter-section h2 {
  color: var(--secondary, #661ce7);
  text-align: center;
  /* Heading (h2) */
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.counter-section p {
  color: var(--black, #1e1b1b);
  /* Title 02 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
  opacity: 0.699999988079071;
}

.brands-section {
  width: 100%;
  height: 894px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.brands-section h3 {
  margin-top: 100px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.image-grid img {
  width: 100%;
  height: auto;
}

.customers-section {
  width: 100%;
  height: 894px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

.customers-section h3 {
  margin-top: 0;
}

.customer-cards-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.customer-card {
  width: 616px;
  height: 376px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  background: #fff;
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer-icon {
  width: 50px; /* Adjust the width of the icon as needed */
  height: 50px; /* Adjust the height of the icon as needed */
}

.customer-card h4 {
  margin: 10px 0;
}

.customer-card h5,
.customer-card p {
  text-align: left;
  margin: 5px 0;
}

.faq-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--steelgrey, #e2e6e9);
  text-align: center;
  height: 1140px;
}

.question-card {
  text-align: left;
  width: 896px;
  height: 226px;
  flex-shrink: 0;
  background: #fff;
  position: relative;
  margin-bottom: 12px;
}
.question-card2 {
  text-align: left;
  width: 896px;
  height: 112px;
  flex-shrink: 0;
  background: #fff;
  position: relative;
  margin-bottom: 12px;
}

.question-card p {
  color: var(--grey, #939191);
  /* Body (01) */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  padding-bottom: 38px;
  padding-left: 30px;
  padding-right: 154px;
}

.question-card h5 {
  padding-left: 30px;
  color: var(--black, #1e1b1b);
  /* Title 02 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}
.question-card2 p {
  color: var(--grey, #939191);
  /* Body (01) */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  padding-bottom: 38px;
  padding-left: 30px;
  padding-right: 154px;
}

.question-card2 h5 {
  padding-left: 30px;
  color: var(--black, #1e1b1b);
  /* Title 02 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}
.minus-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust the right positioning as needed */
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  color: gray;
  font-size: 24px;
  cursor: pointer;
}

.minus-icon img {
  width: 51px;
  height: 48px;
}

.minus-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background: none;
  border: none;
  color: gray;
  font-size: 16px;
  cursor: pointer;
}

.plus-button {
  display: none;
}

.plus-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust the right positioning as needed */
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  color: gray;
  font-size: 24px;
  cursor: pointer;
}

.plus-icon img {
  width: 51px;
  height: 48px;
}

.footer {
  width: 100%;
  height: 549px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  opacity: 0.9800000190734863;
  background: var(--black, #1e1b1b);
  color: white;
}

.footer h3 {
  color: #fff;

  /* Heading(h3) */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
}

.footer h4 {
  color: #fff;

  /* Title 02 */
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.footer p {
  color: #fff;

  /* Body (01) */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  opacity: 0.6000000238418579;
}

.social img {
  padding: 23.67px;
  width: 24px;
  height: 24px;
}
